<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./layouts/head')%>
</head>
<body>
    <div class="container d-flex justify-content-center mt-5">
        <div class="card" style="width: 20rem; background:yellowgreen">
            <div class="text-center"><i class="fas fa-thumbs-up fa-4x" style="color: blue;"></i></div>
            <div class="card-body">
              <p class="card-text">Thanks for the Registration <br/>
                  go and enjoy the website....
              </p>
              <button class="btn btn-warning"><a href="/login">Login Page</a></button>
            </div>
          </div>
    </div>
</body>
</html>