<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/head')%>
</head>
<body>
    <div class="containe col-6 mx-auto mt-5">
        <div class="alert alert-danger" id="errorMessage" role="alert"></div>
         
        <form id="myForm">
            <div class="mb-3">
               <label  class="form-label">Name </label>
               <input type="text" class="form-control" name="name" required/> 
            </div>
            <div class="mb-3">
              <label  class="form-label">Email address</label>
              <input type="email" class="form-control" name="emailId" required/>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="password" required/>
            </div>
            <input type="submit" class="btn btn-primary" value="submit"/>
          </form>
          <div class="d-flex justify-content-center">
            <img  src="images/loader.gif"  id="loader" alt="loader">
            </div>
    </div>

<script>
  $("#errorMessage").hide();
  $("#loader").hide();
  $(document).ready(function(){
    $("#myForm").on('submit', function(e) {
      e.preventDefault(); // avoid to execute the actual submit of the form. 
    
      const formData = new FormData(this);
      const entries = formData.entries();
      const dataa = Object.fromEntries(entries);
      
      $.ajax({
             type: "POST",
             url: "/user/register",
             data: dataa,
             dataType : "json",
             beforeSend: function(){
              $('#loader').show();
             },
            success: function(res){
              $('#loader').hide();
              if (res.state == 1){
                $("#errorMessage").text("user already exists kindly login please..")
                $("#errorMessage").show();
                setTimeout(function(){
                  $('#errorMessage').fadeOut();
              },3000);
              }
              else if (res.state == 0){
                $("#errorMessage").text("Please fill all the fields")
                $("#errorMessage").show();
                setTimeout(function(){
                  $('#errorMessage').fadeOut();
              },3000);
              }
              else if (res.state == 2){ 
                Swal.fire(
                  'well donee..!',
                  'now check mail and verify yourself',
                  'success'
                ).then(()=> window.location.href = "/login")
              }
              
              },
              error: function (res){
                console.log(res); 
              }
           });
    });
  });
</script>
</body>
</html>