<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/head')%>
</head>
<body>
    <div class="containe col-6 mx-auto mt-5">
        <div class="alert alert-danger" id="errorMessage" role="alert">
            user already exists kindly login please..
          </div>
        <form id="myForm">
            <div class="mb-3">
               <label  class="form-label">Name </label>
               <input type="text" class="form-control" name="uname"/>
            </div>
            <div class="mb-3">
              <label  class="form-label">Email address</label>
              <input type="email" class="form-control" name="uemailId"/>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="upassword"/>
            </div>
            <input type="submit" class="btn btn-primary" value="submit"/>
          </form>
          <div class="d-flex justify-content-center">
            <img  src="images/loader.gif"  id="loader" alt="loader">
            </div>
    </div>

<script>
  $("#errorMessage").hide();
  $("#loader").hide();
  $(document).ready(function(){
    $("#myForm").on('submit', function(e) {
      e.preventDefault(); // avoid to execute the actual submit of the form. 
    
      const formData = new FormData(this);
      const entries = formData.entries();
      const dataa = Object.fromEntries(entries);
      
      $.ajax({
             type: "POST",
             url: "/user/register",
             data: dataa,
             beforeSend: function(){
              $('#loader').show();
             },
            success: function(res){
              $('#loader').hide();
              console.log(res.status);
              if (res.status == 1){
                $("#errorMessage").show();
                setTimeout(function(){
                  $('#errorMessage').fadeOut();
              },2000);
              }
              else{
                Swal.fire(
                  'well donee..!',
                  'now check mail and verify yourself',
                  'success'
                )
              }
              },
              error: function (res){
                console.log(res);
              }
           });
    });
  });
</script>
</body>
</html>